Django
djangorestframework
psycopg2-binary
dj-database-url
djangorestframework-simplejwt
django-cors-headers
python-decouple
django-storages
boto3
celery
django-celery-results
django-celery-beat
redis
django-redis
google-genai
scikit-learn
pandas
numpy
joblib
python-dotenv
django-filter
drf-yasg
whitenoise
gunicorn
django-health-check
